div.portrait-container p {
  text-align: center;
}

div.portrait-container {
  margin-bottom: 40px;
}

div.portrait-container img {
  width: 72px;
  height: 72px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

div.followed, div.following {
	display: inline-block;
	color: #1f2f1f;
}

div.followed p, div.following p {
	text-align: center;
}

div.followed {
	float: left;
	margin-left: 60px;
}

div.following {
	float: right;
	margin-right: 60px;
}

div.following-container a, div.followed-container a {
  margin-right: 5px;
}

div.tab-nav {
  padding-top: 12px;
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
  height: 39px;
  background-color: #f7f7f7;
  margin-right: 3px;
  float: left;
  overflow: hidden;
}

div.tab-navbar {
  border-bottom: solid 1px #cfcfcf;
  height: 40px;
  border-collapse: collapse;
}

div.tab-nav[data-active="active"] {
  background-color: #fff;
  border-bottom: solid 1px #1f2f2f;
  height: 40px;
  border-collapse: collapse;
}

#tab-question ul {
  margin-top: 20px;
}

#tab-question ul>li {
  margin-bottom: 10px;
}

#tab-question ul>li>a {
  color: #1f1f1f;
}

#tab-question ul>li>a:hover {
  color: #3f3f3f;
}

div.answer-section {
  margin-top: 40px;
}

div.answer-section div.question-title {
  font-size: 18px;
  color: #1f1f1f;
  margin-bottom: 10px;
}

div.answer-section div.answer-content p {
  line-height: 1.4em;
  margin-bottom: 14px;
  color: #3f3f3f;
}

div.answer-section div.time {
  font-size: 14px;
  color: #5f5f5f;
  margin-top: 20px;
}
